figure.zoom {
    background-position: 50% 50%;
    position: relative;
    border: 5px solid #eee;
    max-width: 576px;
    overflow: hidden;
    cursor: zoom-in;
}


.product-image-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.product-image-modal-content img{
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #fff;
    vertical-align: middle;
}

figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
}

figure.zoom img:hover {
    opacity: 0;
}

.product-details-div{
    display: flex;
    flex-flow: wrap;
    padding-bottom: 40px;
    font-weight: lighter;
}

.product-images{
    padding: 0 15px;
}

img.product-image[data-block-status="loaded"]{
    vertical-align: middle;
    border: 0;
    width : 100%;
    height : 100%;
    max-width: 576px;
}

.product-details{
    padding: 0 15px;
}


.product-details .row{
    display: flex;
    padding-bottom: 10px;
}

.product-label{
    width: 25%;
    float: left;
    padding: 0 15px;
    font-weight: 700;
    color: #000;
}

.product-label::after{
    content: ":\00a0";
}

.product-field{
    width: 75%;
    float: left;
    padding: 0 15px;
    font-family: eurostile, 'Titillium Web', sans-serif;
    margin: auto;
    font-size: 16px;
}

.product-image-thumbnail-wrapper{
    display: flex;
    text-align: left;
    background: #eee;
    width: 576px;
    height: 96px;
}

img.product-image-thumbnails{
    width: 96px;
    height: 96px;
    border-top: 2px solid #ffcd00;
}

@media only screen and (max-width: 1198px) {
    .product-details-div{
        flex-direction: column;
    }
}

.product-details-wrapper{
    margin-left: 8.3333%;
    border-top: 8px solid #eee;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-heading{
    font-size: var(--heading-font-size-l);
    font-family: var(--heading-font-family);
    font-weight: 500;
    line-height: 1.1;
    color: #000;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.product-not-found{
    font-size: var(--body-font-size-m);
    font-family: var(--body-font-family);
}

main input, main button {
    font-size: 1.25rem;
    width: 100%;
    max-width: 50rem;
    display: block;
    margin-bottom: 1rem;
    padding: 0.75rem 0.6rem;
}

.product-quantity > div {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.product-quantity button {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 44px;
    height: 44px;
    border: 1px solid;
    border-radius: 44px;
    line-height: 0;
    transform: scale(1);
    background-color: unset;
    color: var(--text-color);
    margin: 0;
    margin-right: 20px;
}

.product-addto button{
    font-size: var(--body-font-size-m);
}

.product-quantity button:hover {
    background-color: #eee;
}

.product-quantity button::after,
.product-quantity button::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 21px;
    height: 1px;
    background: currentcolor;
    border-radius: 5px;
    top: 21px;
    left: 11px;
}

.product-quantity button.product-quantity-plus::after {
    width: 1px;
    height: 20px;
    top: 11px;
    left: 21px;
}

.product-quantity input {
    display: inline-block;
    width: 70px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 0;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-m);
}

.product-addto {
    text-align: center;
}

.product-price{
    font-weight: lighter;
}
